pages/upload_file/BIR/
pages/upload_file/CERTIFICATION/
pages/upload_file/DTI/
pages/upload_file/INVOICE/
pages/upload_file/PERMIT/
pages/upload_file/PICTURE/
pages/upload_file/DATASHEET/ITEMS/
pages/upload_file/DATASHEET/SERVICES/